:root {
	--sat: env(safe-area-inset-top);
	--sar: env(safe-area-inset-right);
	--sab: env(safe-area-inset-bottom);
	/* THIS ONE GETS US THE HOME BAR HEIGHT */
	--sal: env(safe-area-inset-left);
}

html {
	width: 100vw !important;
	overflow-x: hidden;
}

body {
	font-size: 1.5rem;
	width: 100vw !important;

	background: #161616;

	color: rgb(223, 223, 223);

	font-family: Arial, Helvetica, sans-serif;
}

input.message {
	position: fixed;
	display: block;

	width: 100vw !important;
	font-size: 1.2rem;

	background-color: inherit;
	color: inherit;

	margin: 0;
	padding: 1rem;
	padding-top: 1rem;
	padding-bottom: calc(var(--sab) + 1.35rem);

	bottom: 0;
	left: 0;

	outline: none;
	border: none;

	z-index: 3;
}

input.message:focus ~ hr {
	box-shadow: 0px 0px 200px 150px rgba(58, 58, 58, 0.9);
}

hr {
	position: fixed;

	z-index: 2;

	top: calc(100vh - 2rem);
	left: 0;

	border: none;

	box-shadow: 0px 0px 80px 50px rgba(58, 58, 58, 0.9);

	transition: box-shadow 0.5s;

	width: 100vw;
}

messages {
	position: fixed;

	top: 0;
	left: 0;

	height: calc(100vh - 6rem);
	width: 100vw;

	padding-top: 5rem;

	color: rgb(32, 32, 32);

	z-index: 3;

	padding: 1rem;

	overflow: scroll;

	padding-bottom: 10rem;
}

@keyframes appear {
	from {
		transform: translateX(-5rem);
		opacity: 0.1;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

msg {
	max-width: 60vw;
	font-size: 1rem;
	line-break: strict;

	position: relative;

	border: 2px solid #9fffdfe6;
	background-color: #9fffdfe6;

	padding: 15px;
	display: block;
	margin-top: 1rem;

	border-radius: 12px;
	border-bottom-left-radius: 0;

	transition: background-color 0.5s, border 0.5s;

	animation: appear 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

msg > date {
	position: absolute;
	bottom: 6px;
	right: 10px;
	display: inline-block;
	font-size: 0.5rem;
}

qr {
	position: fixed;
	display: none;
	top: 0;
	left: 0;

	z-index: 30;

	background-color: rgba(0, 0, 0, 0.8);
	width: 100vw;
	height: 100vh;
}

canvas {
	display: block;
	position: fixed;

	width: min(70vh, 70vw);
	height: min(70vh, 70vw);

	margin: auto;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
}

.build-status {
	color: #60ecff;
	background-color: #000;
	border: 1.5px solid #45ff9c;
	padding: 0.35rem 0.8rem;
	border-radius: 7px;

	cursor: pointer;
}